.hero-section-recipe {
  background-image: url("/project/images/Nzombe.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  background-color: var(--text-color-body);

}

.hero-section-recipe h1,
.hero-section-recipe p {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Recipe Details Section */
.recipe-details {
  display: none;
  padding: 4rem;
  background-color: var(--primary-color);
  margin-top: 2rem;
  transition: all 0.3s ease-in-out;
}

.recipe-details.visible {
  display: block;
}

.recipe-details-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
}

.details-image {
  width: auto; 
  height: 300px;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  object-fit: cover; 
}

.details-text {
  flex: 1; 
  max-width: 600px;
  color:white;

}

.details-text h2,
.details-text h4 {
  margin-bottom: 15px;
  color: var(--secondary-color);
  text-align: left;
}

.details-text p {
  color: rgb(255, 255, 255);
  
}

.recipe-meta {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 20px;

  
}

.rating,
.recipe-meta .rating {
  color: var(--secondary-color);
}


/* Ingredients List */
.ingredients-list {
  list-style: disc;
  margin: 10px 0;
  padding-left: 20px;
}

/* Preparation Steps */
.preparation-steps {
  /* list-style: decimal;  */
  margin: 10px 0;
  padding-left: 20px;
  /* color: var(--text-color-body); */
  /* font-size: var(--paragraph-size); */
}

.ingredients-list li,
.preparation-steps li {
  margin-bottom: 10px; 
}

.ingredients-list > li::before,
.preparation-steps > li::before {
  content: "• "; 
  font-size: 1.75em; 
  color: var(--secondary-color); 
}