.hero-section-restaurants {
  background-image: url("/project/images/hero-cover-restaurant.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  background-color: var(--text-color-body);
}
.hero-section-restaurants h1,
.hero-section-restaurants p {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* RESTAURANT GRID */
.restaurant-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}



/* RESTAURANT META */
.restaurant-meta {
  display: flex;
  justify-content: space-between;
}

.restaurant-meta p {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rating i {
  color: var(--secondary-color);
}


/* RESTAURANT DETAILS SECTION */
.restaurant-details {
  display: none;
  padding: 30px;
  background-color: var(--tertiary-color);
  margin-top: 20px;
  border: 1px solid var(--accent-color-2);
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in-out;
}

.restaurant-details.visible {
  display: block;
}

.restaurant-details-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
}

.details-image {
  max-width: 350px;
  width: 100%;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}

.details-text {
  flex: 1;
  max-width: 600px;
}

.details-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.details-text p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.details-meta {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.details-meta p {
  display: flex;
  align-items: center;
  gap: 8px;
}



/* POPULAR DISHES */
.popular-dishes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* margin-top: 20px; */
}

.popular-dishes .dish {
  text-align: center;
  max-width: 120px;
}

.popular-dishes .dish img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.popular-dishes .dish p {
  margin-top: 8px;
  font-size: var(--paragraph-small);
}

/* CLIENT REVIEWS */
.reviews {
  margin-top: 20px;
  padding-left: 20px;
  list-style: disc;
}

.reviews li {
  margin-bottom: 10px;
}

.reviews li::before {
  content: "• "; 
  font-weight: bold;
  color: var(--secondary-color); 
  margin-right: 5px; 
}


/* CONTACT INFORMATION */
.details-text h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.details-text a,
.details-text p{
  color: var(--text-color);
  text-decoration: none;
  margin-bottom: 0;
}

.details-text a:hover {
  text-decoration: underline;
}

/* GOOGLE MAP */
iframe {
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  margin-top: 20px;
}