:root {
    /* Primary Colors */
    --primary-color: #4a90e2; /* Soft blue for main elements */
    --primary-dark: #003f7f; /* Darker blue for accents */
    --primary-light: #d9e9f8; /* Light blue for backgrounds */
  
    /* Neutral Colors */
    --neutral-color-1: #2c2c2c; /* Dark gray for text */
    --neutral-color-2: #f4f4f4; /* Light gray for backgrounds */
    --neutral-color-3: #ffffff; /* White for clean areas */
  
    /* Accent Colors */
    --accent-color-2: #50e3c2; /* Mint green for decorative elements */
  
    /* Shadows and Borders */
    --shadow-color: rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    --border-color: #e0e0e0; /* Light gray for borders */
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    font-size: 12px;
    margin: 10px;
  }
  
  .site-header {
    background-color: var(--primary-dark);
    color: white;
    text-align: center;
  }
  
  .site-title {
    font-size: 2em;
    padding: 20px;
    font-weight: bold;
  }
  
  .site-title > span {
    color: var(--accent-color-2);
    font-size: 1.50rem;
  }
  
  /* NavBar */
  .site-nav {
    background-color: var(--primary-light);
    text-align: center;
    margin: 0 auto;
    padding: 10px;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    margin: 0 15px;
  }
  
  .nav-link {
    text-decoration: none;
    color: var(--primary-dark);
    position: relative;
  }
  
  
  nav a {
    text-decoration: none;
    position: relative;
  }
  
  nav a:hover {
    color: var(--accent-color-2);
  }
  
  nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    left: 0;
    background: var(--accent-color-1);
    transition: width 0.4s ease, left 0.4s ease;
  }
  
  nav a:hover::after {
    width: 100%;
    left: 0;
  }
  
  nav a:active {
    color: var(--primary-light);
  }

  footer {
    grid-area: footer;
    background-color: var(--neutral-color-1);
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  .footer-modified {
    color: var(--accent-color-2);
    font-style: italic;
  }
  